{% extends "layout.html" %}
{% block body_content %}
<h1><br> Post a new blog! </h1><br><br>


<div class="form">	
	<form method="POST" action="">
		{{ form.hidden_tag() }}
		{% for object in form %}
		{{ object.label }}
		{{ object }}
			{% if object.errors %}
				<div class='error'>
					{% for error in object.errors %}
						<span>{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}<br>
		{% if object.label=="Post Content" %}
		{{ object }}<br>
	
		{% endif %}
		{% endfor %}

	</form>
</div>
{% endblock body_content %}

